/*--------height, width, border------------*/
#divmain{
    background-color: pink;
    height: 50px;
    width: 200px;
    /*------border---------*/
    border:2px;
    border-style: dotted;
    border-color: black;
}

h1{
    height: 50px;
    width: 150px;
    border: 2px solid maroon;
    text-align: center;
    background: greenyellow;
}

/*------------Border radius-------*/
#div1{
    /*---------padding, margin-------------------*/
    padding-top: 50px;
    margin-top: 40px;
    border-radius: 50%;
    border: 2px solid green;
    width: 120px;
    height: 80px;
    text-align: center;
    background-color: antiquewhite;
}

#div2{
    /*---------padding, margin-------------------*/
    padding-top: 50px;
    margin-top:40px;
    border-radius: 20%;
    border: 2px solid green;
    width: 120px;
    height: 80px;
    text-align: center;
    background-color: antiquewhite;
}

#div3{
    /*---------padding, margin-------------------*/
    padding-top: 50px;
    margin-top: 40px;
    border-radius: 5%;
    border: 2px solid green;
    width: 120px;
    height: 70px;
    text-align: center;
    background-color: antiquewhite;
} 