/*--------height, width, border------------*/
div{
    background-color: pink;
    height: 50px;
    width: 200px;
    /*------border---------*/
    border:2px;
    border-style: dotted;
    border-color: black;
}

h1{
    height: 50px;
    width: 150px;
    border: 2px solid maroon;
    text-align: center;
    background: greenyellow;
}

/*------------Border radius-------*/
#div1{
    border: 2px solid green;
    border-radius: 50%;
}